
<section class="section">
    <div class="container">
      <div class="columns">
        <diV class="column auto"></div>
        <div class="column is-half">
          <h1 class="title">New Book</h1>

          <%= form_with scope: :book, url: books_path, local: true do |form| %>
            <div class="field">
              <%= form.label :title, class: "label" %>
              <div class="control">
                <%= form.text_field :title, class: "input" %>
              </div>
            </div>

            <div class="field">
              <%= form.label :author, class: "label" %>
              <div class="control">
                <%= form.text_field :author, class: "input" %>
              </div>
            </div>

            <div class="field">
              <%= form.submit "Save", class: "button is-primary" %>
            </div>
          <% end %>

        </div>
        <div class="column auto"></div>
      </div>
    </div>
</section>