
<section class="section">
    <div class="container">
      <div class="columns">
        <div class="column auto"></div>
        <div class="column is-half">
            <h1 class="title"><%= @book.title %></h1>
            <h2 class="subtitle"><%= @book.author %></h2>

            <div class="level">
                <div class="level-left">
                <div class="level-item">
                    <%= link_to 'Edit', edit_book_path(@book), class: "button is-primary" %>
                </div>
                </div>
                <div class="level-right">
                <div class="level-item">
                    <%= link_to 'Back', books_path, class: "link is-info" %>
                </div>
                </div>
            </div>

            <h2 class="subtitle">Reviews (<%= @book.reviews.length %>)</h2>
            <% if @book.reviews.empty? %>
                <p>No reviews</p>
                <br>
            <% else %>
                <%= render @book.reviews %>
            <% end %>

            <h2 class="subtitle">Add a review</h2>

            <%= render "reviews/form" %>
        </div>
        <div class="column auto"></div>
      </div>
    </div>
</section>